{% autoescape off %}


Olá {{ user.username }}, 

Você está recebendo este e-mail porque foi 
solicitado uma nova senha 
para sua conta na nossa plataforma I-Extrato.

Clique aqui para escolher uma nova senha:

{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

Este link só poderá ser usado uma única vez. Se precisar de um novo link, por favor, solicite novamente.

Se não foi você quem solicitou este link, por favor, ignore este e-mail.

Seu usuário, caso não se lembre, é: {{ user.username }}

Atenciosamente,

Equipe I-Extrato

{% endautoescape %}