{% load static %}


<!doctype html>
<html class="fixed sidebar-left-collapsed">
	<head>

		<!-- Basic -->
		<meta charset="UTF-8">

		<title>Gestão de Faturamento</title>
		<meta name="keywords" content="HTML5 Admin Template" />
		<meta name="description" content="JSOFT Admin - Responsive HTML5 Template">
		<meta name="author" content="JSOFT.net">

		<!-- Mobile Metas -->
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		
		<!-- Icons -->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

		<!-- Web Fonts  -->
		<link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800|Shadows+Into+Light" rel="stylesheet" type="text/css">

		<!-- Vendor CSS -->
		<link rel="stylesheet" href='{% static "assets/vendor/bootstrap/css/bootstrap.css" %}'/>
		<link rel="stylesheet" href='{% static "assets/vendor/font-awesome/css/font-awesome.css" %}'/>
		<link rel="stylesheet" href='{% static "assets/vendor/magnific-popup/magnific-popup.css" %}'/>
		<link rel="stylesheet" href='{% static "assets/vendor/bootstrap-datepicker/css/datepicker3.css" %}'/>

		<!-- Specific Page Vendor CSS -->
		<link rel="stylesheet" href='{% static "assets/vendor/jquery-ui/css/ui-lightness/jquery-ui-1.10.4.custom.css" %}'/>
		<link rel="stylesheet" href='{% static "assets/vendor/bootstrap-multiselect/bootstrap-multiselect.css" %}'/>
		<link rel="stylesheet" href='{% static "assets/vendor/morris/morris.css" %}'/>

		<!-- Theme CSS -->
		<link rel="stylesheet" href='{% static "assets/stylesheets/theme.css" %}'/>

		<!-- Skin CSS -->
		<link rel="stylesheet" href='{% static "assets/stylesheets/skins/default.css" %}'/>

		{% comment %} <!-- Theme Custom CSS -->
		<link rel="stylesheet" href='{% static "assets/stylesheets/theme-custom.css" %}'/> {% endcomment %}

		<!-- Head Libs -->
		<script src='{% static "assets/vendor/modernizr/modernizr.js" %}'></script>

	</head>
	<body>
		<section class="body">

			<!-- start: header -->
			<header class="header">
				<style>
					@media (max-width: 767px) {
						.desktop-only {
							display: none;
							
						}
					}
					</style>
					<div class="logo-container">					
						<div class="container">
							<div class="col-md-4">
								{% if user.is_authenticated %}							
									<p class="desktop-only">Bem-Vindo: {{ user.username }}</p>
									{% endif %}
									{% comment %} <p class="desktop-only">Próxima atualização: {{ user.last_login }}</p> {% endcomment %}
								</div>

								<div class="col-md-4" id="countdown">
									{% if user.is_authenticated %}
									<p class="desktop-only">Status Robô: Ativo</p>						
									{% endif %}
								</div>
		
								<div class="col-md-4" id="countdown">
									{% if user.is_authenticated %}
									<p class="desktop-only">Último faturamento:</p>
									{% endif %}
								</div>								
						
						<div class="visible-xs toggle-sidebar-left" data-toggle-class="sidebar-left-opened" data-target="html" data-fire-event="sidebar-left-opened">
							<i class="fa fa-bars" aria-label="Toggle sidebar"></i>
						</div>
					</div>
				</div>	 
			</header>
			<!-- end: header -->

			<div class="inner-wrapper">
				<!-- start: sidebar -->
				<aside id="sidebar-left" class="sidebar-left">
				
					<div class="sidebar-header">
						<div class="sidebar-title">
							Menu
						</div>
						<div class="sidebar-toggle hidden-xs" data-toggle-class="sidebar-left-collapsed" data-target="html" data-fire-event="sidebar-left-toggle">
							<i class="fa fa-bars" aria-label="Toggle sidebar"></i>
						</div>
					</div>
				
					<div class="nano">
						<div class="nano-content">
							<nav id="menu" class="nav-main" role="navigation">
								<ul class="nav nav-main">
									<li class="nav-active">
										<a href="{% url 'index' %}">
											<i class="fa fa-home" aria-hidden="True"></i>
											<span>Dashboard</span>
										</a>
									</li>
									
									<li class="nav-parent">
										<a>
											<i class="fa fa-university" aria-hidden="true"></i>
											<span>Consulta</span>
										</a>
										<ul class="nav nav-children">
											<li>
												<a href="{% url 'query' %}">
													 Extrator
												</a>
											</li>
											<li>
												<a href="{% url 'query' %}">
													 Carteira On-line
												</a>
											</li>
										</ul>
									</li>																						
									<li class="nav-parent">
										<a>
											<i class="fa fa-sign-out" aria-hidden="true"></i>
											<span>Sair</span>
										</a>
										<ul class="nav nav-children">
											<li>
												<a href="{% url 'logout' %}">
													 logout
												</a>
										</li>
									</nav>						
								</div>				
							</div>				
						</aside>
					<!-- end: sidebar -->
				

				<section role="main" class="content-body">
					<header class="page-header">
						<h2>Dashboard</h2>
					
						<div class="right-wrapper pull-right">
							<ol class="breadcrumbs">
								<li>
									<a href="{% url 'index' %}">
										<i class="fa fa-home"></i>
									</a>
								</li>
								<li><span>Dashboard</span></li>
							</ol>
					
							<a class="sidebar-right-toggle" ><i class="fa fa-chevron-left"></i></a>
						</div>Realizado
					</header>					

					<!-- start: page -->
					
						<div class="col-md-6 col-lg-12 col-xl-6">
							<div class="row">
								<div class="col-md-12 col-lg-6 col-xl-6">
									<section class="panel panel-featured-left Janel-featured-secondary">
										<div class="panel-body">
											<div class="widget-summary">
												<div class="widget-summary-col widget-summary-col-icon">
													<div class="summary-icon bg-secondary">
														<i class="fa fa-arrow-up"></i>
													</div>
												</div>
												<div class="widget-summary-col">
													<div class="summary">
														<h4 class="title">Faturamento Realizado</h4>
														<div class="info">
															<strong class="amount">{{ total_faturamento_formatado }}</strong>
														</div>
													</div>
													<div class="summary-footer">
														<a class="text-muted text-uppercase"></a>
													</div>
												</div>
											</div>
										</div>
									</section>
								</div>
															
								
								<div class="col-md-12 col-lg-6 col-xl-6">
									<section class="panel panel-featured-left panel-featured-tertiary">
										<div class="panel-body">
											<div class="widget-summary">
												<div class="widget-summary-col widget-summary-col-icon">
													<div class="summary-icon bg-tertiary">
														<i class="fa fa-download"></i>
													</div>
												</div>
												<div class="widget-summary-col">
													<div class="summary">
														<h4 class="title">Clientes únicos faturados</h4>
														<div class="info">
															<strong class="amount">{{ total_clientes_unicos }}</strong>
														</div>
													</div>
													<div class="summary-footer">
														<a class="text-muted text-uppercase"></a>
													</div>
												</div>
											</div>
										</div>
									</section>
								</div>

								<div class="col-md-6 col-lg-12 col-xl-6">
							<div class="row">
								<div class="col-md-12 col-lg-6 col-xl-6">
									<section class="panel panel-featured-left panel-featured-secondary">
										<div class="panel-body">
											<div class="widget-summary">
												<div class="widget-summary-col widget-summary-col-icon">
													<div class="summary-icon bg-secondary">
														<i class="fa fa-arrow-down"></i>
													</div>
												</div>
												<div class="widget-summary-col">
													<div class="summary">
														<h4 class="title">Faturamento do dia</h4>
														<div class="info">
															<strong class="amount">{{ total_faturamento_dia_formatado }}</strong>
														</div>
													</div>
													<div class="summary-footer">
														<a class="text-muted text-uppercase"></a>
													</div>
												</div>
											</div>
										</div>
									</section>
								</div>
								<div class="col-md-12 col-lg-6 col-xl-6">
									<section class="panel panel-featured-left panel-featured-quartenary">
										<div class="panel-body">
											<div class="widget-summary">
												<div class="widget-summary-col widget-summary-col-icon">
													<div class="summary-icon bg-quartenary">
														<i class="fa fa-user"></i>
													</div>
												</div>
												<div class="widget-summary-col">
													<div class="summary">
														<h4 class="title">Pedidos Faturados</h4>
														<div class="info">
															<strong class="amount">{{ total_pedidos_unicos }}</strong>
														</div>
													</div>
													<div class="summary-footer">
														<a class="text-muted text-uppercase"></a>
													</div>
												</div>
											</div>
										</div>
									</section>
								</div>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-md-6 col-lg-12 col-xl-6">
							<section class="panel">
								<div class="panel-body">
									<div class="row">
										<div class="col-lg-8">
											<div class="chart-data-selector" id="salesSelectorWrapper">
												<h2>
													Natureza da Receita:
													<strong>
														<select class="form-control" id="salesSelector">
															<option value="Locacao" selected>Locação</option>
															<option value="MauUso" >Mau Uso</option>
															
														</select>
													</strong>
												</h2>

												<div id="salesSelectorItems" class="chart-data-selector-items mt-sm">
													<!-- Flot: Sales JSOFT Admin -->
													<div class="chart chart-sm" data-sales-rel="Locacao" id="flotDashSales1" class="chart-active"></div>
													<script>

														var flotDashSales1Data = [{
														    data: [
														        ["Jan", "{{total_locacao}}"],
														        ["Feb", 0],
														        ["Mar", 0],
														        ["Apr", 0],
														        ["May", 0],
														        ["Jun", 0],
														        ["Jul", 0],
														        ["Aug", 0]
														    ],
														    color: "#0088cc"
														}];

														// See: assets/javascripts/dashboard/examples.dashboard.js for more settings.

													</script>

													<!-- Flot: Sales JSOFT Drupal -->
													<div class="chart chart-sm" data-sales-rel="MauUso" id="flotDashSales2" class="chart-hidden"></div>
													<script>

														var flotDashSales2Data = [{
														    data: [
														        ["Jan", "{{total_mau_uso}}"],
														        ["Feb", 0],
														        ["Mar", 0],
														        ["Apr", 0],
														        ["May", 0],
														        ["Jun", 0],
														        ["Jul", 0],
														        ["Aug", 0]
														    ],
														    color: "#2baab1"
														}];

														// See: assets/javascripts/dashboard/examples.dashboard.js for more settings.

													</script>

													<!-- Flot: Sales JSOFT Wordpress -->
													<div class="chart chart-sm" data-sales-rel="Texte" id="flotDashSales3" class="chart-hidden"></div>
													<script>

														var flotDashSales3Data = [{
														    data: [
														        ["Jan", 100],
														        ["Feb", 740],
														        ["Mar", 690],
														        ["Apr", 940],
														        ["May", 1180],
														        ["Jun", 820],
														        ["Jul", 570],
														        ["Aug", 780]
														    ],
														    color: "#734ba9"
														}];

														// See: assets/javascripts/dashboard/examples.dashboard.js for more settings.

													</script>
												</div>

											</div>
										</div>
										<div class="col-lg-4 text-center">
											<h2 class="panel-title mt-md">Faturamento Atingido</h2>
											<div class="liquid-meter-wrapper liquid-meter-sm mt-lg">
												<div class="liquid-meter">
													<meter min="0" max="100" value="{{ porcento_a_faturar }}" id="meterSales"></meter>
												</div>
												<div class="liquid-meter-selector" id="meterSalesSel">
													<a href="#" data-val="{{ porcento_a_faturar }}" class="active">Objetivo mês</a>
													<a href="#" data-val="29">Objetivo Anual</a>
												</div>
											</div>
										</div>
									</div>
								</div>

								<div class="row">
									<div class="col-xl-3 col-lg-6">
										<section class="panel panel-transparent">
											<header class="panel-heading">
												<div class="panel-actions">
													<a href="#" class="fa fa-caret-down"></a>
													<a href="#" class="fa fa-times"></a>
												</div>
			
												<h2 class="panel-title">Carteira On-line</h2>
											</header>
											<div class="panel-body">
												<section class="panel panel-group">
													<header class="panel-heading bg-primary">
			
														<div class="widget-profile-info">
															<div class="profile-picture">
																<!-- <img src="assets/images/!logged-user.jpg"> -->
															</div>
															<div class="profile-info">
																<h5 class="role text-semibold">Analista responsável</h5>
																<h4 class="name">{{ user.username }}</h4>
																<div class="profile-footer">
																	
																</div>
															</div>
														</div>
			
													</header>
													<div id="accordion">
														<div class="panel panel-accordion panel-accordion-first">
															<div class="panel-heading">
																<h4 class="panel-title">
																	<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse1One">
																		<i class="fa fa-check"></i> Clientes para faturar
																	</a>
																</h4>
															</div>
															<div id="collapse1One" class="accordion-body collapse in">
																<div class="panel-body">
																	<ul class="widget-todo-list">
																		<li>
																			<div class="checkbox-custom checkbox-default">
																				<input type="checkbox" checked="" id="todoListItem1" class="todo-check">
																				<label class="todo-label" for="todoListItem1"><span>Lorem ipsum dolor sit amet</span></label>
																			</div>
																			<div class="todo-actions">
																				<a class="todo-remove" href="#">
																					<i class="fa fa-times"></i>
																				</a>
																			</div>
																		</li>
																		<li>
																			<div class="checkbox-custom checkbox-default">
																				<input type="checkbox" id="todoListItem2" class="todo-check">
																				<label class="todo-label" for="todoListItem2"><span>Lorem ipsum dolor sit amet</span></label>
																			</div>
																			<div class="todo-actions">
																				<a class="todo-remove" href="#">
																					<i class="fa fa-times"></i>
																				</a>
																			</div>
																		</li>
																		<li>
																			<div class="checkbox-custom checkbox-default">
																				<input type="checkbox" id="todoListItem3" class="todo-check">
																				<label class="todo-label" for="todoListItem3"><span>Lorem ipsum dolor sit amet</span></label>
																			</div>
																			<div class="todo-actions">
																				<a class="todo-remove" href="#">
																					<i class="fa fa-times"></i>
																				</a>
																			</div>
																		</li>
																		<li>
																			<div class="checkbox-custom checkbox-default">
																				<input type="checkbox" id="todoListItem4" class="todo-check">
																				<label class="todo-label" for="todoListItem4"><span>Lorem ipsum dolor sit amet</span></label>
																			</div>
																			<div class="todo-actions">
																				<a class="todo-remove" href="#">
																					<i class="fa fa-times"></i>
																				</a>
																			</div>
																		</li>
																		<li>
																			<div class="checkbox-custom checkbox-default">
																				<input type="checkbox" id="todoListItem5" class="todo-check">
																				<label class="todo-label" for="todoListItem5"><span>Lorem ipsum dolor sit amet</span></label>
																			</div>
																			<div class="todo-actions">
																				<a class="todo-remove" href="#">
																					<i class="fa fa-times"></i>
																				</a>
																			</div>
																		</li>
																		<li>
																			<div class="checkbox-custom checkbox-default">
																				<input type="checkbox" id="todoListItem6" class="todo-check">
																				<label class="todo-label" for="todoListItem6"><span>Lorem ipsum dolor sit amet</span></label>
																			</div>
																			<div class="todo-actions">
																				<a class="todo-remove" href="#">
																					<i class="fa fa-times"></i>
																				</a>
																			</div>
																		</li>
																	</ul>
																	<hr class="solid mt-sm mb-lg">
																	<form method="get" class="form-horizontal form-bordered">
																		<div class="form-group">
																			<div class="col-sm-12">
																				<div class="input-group mb-md">
																					<input type="text" class="form-control">
																					<div class="input-group-btn">
																						<button type="button" class="btn btn-primary" tabindex="-1">Add</button>
																					</div>
																				</div>
																			</div>
																		</div>
																	</form>
																</div>
															</div>
														</div>


													</section>
												</div>											
										</section>
									</div>

								<!-- end: page -->
			
						

			
			

			<aside id="sidebar-right" class="sidebar-right">
				<div class="nano">
					<div class="nano-content">
						<a href="#" class="mobile-close visible-xs">
							Collapse <i class="fa fa-chevron-right"></i>
						</a>
			
						<div class="sidebar-right-wrapper">
			
							<div class="sidebar-widget widget-calendar">
								<h6>Upcoming Tasks</h6>
								<div data-plugin-datepicker data-plugin-skin="dark" ></div>
			
								<ul>
									<li>
										<time datetime="2014-04-19T00:00+00:00">04/19/2014</time>
										<span>Company Meeting</span>
									</li>
								</ul>
							</div>
			
							<div class="sidebar-widget widget-friends">
								<h6>Friends</h6>
								<ul>
									<li class="status-online">
										<figure class="profile-picture">
											<img src='{% static "assets/images/!sample-user.jpg" alt="Joseph Doe" class="img-circle" %}'>
										</figure>
										<div class="profile-info">
											<span class="name">Joseph Doe Junior</span>
											<span class="title">Hey, how are you?</span>
										</div>
									</li>
									<li class="status-online">
										<figure class="profile-picture">
											<img src='{% static "assets/images/!sample-user.jpg" alt="Joseph Doe" class="img-circle" %}'>
										</figure>
										<div class="profile-info">
											<span class="name">Joseph Doe Junior</span>
											<span class="title">Hey, how are you?</span>
										</div>
									</li>
									<li class="status-offline">
										<figure class="profile-picture">
											<img src="assets/images/!sample-user.jpg" alt="Joseph Doe" class="img-circle">
										</figure>
										<div class="profile-info">
											<span class="name">Joseph Doe Junior</span>
											<span class="title">Hey, how are you?</span>
										</div>
									</li>
									<li class="status-offline">
										<figure class="profile-picture">
											<img src='{% static "assets/images/!sample-user.jpg" alt="Joseph Doe" class="img-circle" %}'>
										</figure>
										<div class="profile-info">
											<span class="name">Joseph Doe Junior</span>
											<span class="title">Hey, how are you?</span>
										</div>
									</li>
								</ul>
							</div>
			
						</div>
					</div>
				</div>
			</aside>
		</section>


		<!-- Script para manipular a adição de itens à lista -->
		<script>
			document.addEventListener('DOMContentLoaded', function () {
				var todoList = document.querySelector('.widget-todo-list');
				var addButton = document.querySelector('.btn.btn-primary');
		
				addButton.addEventListener('click', function (event) {
					event.preventDefault();
		
					var input = document.querySelector('.form-control');
					var inputValue = input.value.trim();
		
					if (inputValue !== '') {
						var listItem = document.createElement('li');
						listItem.innerHTML = `
							<div class="checkbox-custom checkbox-default">
								<input type="checkbox" id="todoListItem${new Date().getTime()}" class="todo-check">
								<label class="todo-label" for="todoListItem${new Date().getTime()}">
									<span>${inputValue}</span>
								</label>
							</div>
							<div class="todo-actions">
								<a class="todo-remove" href="#">
									<i class="fa fa-times"></i>
								</a>
							</div>
						`;
		
						todoList.appendChild(listItem);
						input.value = '';
					}
				});
			});
		</script>


		<!-- Vendor -->
		<script src='{% static "assets/vendor/jquery/jquery.js" %}'></script>
		<script src='{% static "assets/vendor/jquery-browser-mobile/jquery.browser.mobile.js" %}'></script>
		<script src='{% static "assets/vendor/bootstrap/js/bootstrap.js" %}'></script>
		<script src='{% static "assets/vendor/nanoscroller/nanoscroller.js" %}'></script>
		<script src='{% static "assets/vendor/bootstrap-datepicker/js/bootstrap-datepicker.js" %}'></script>
		<script src='{% static "assets/vendor/magnific-popup/magnific-popup.js" %}'></script>
		<script src='{% static "assets/vendor/jquery-placeholder/jquery.placeholder.js" %}'></script>
		
		<!-- Specific Page Vendor -->
		<script src='{% static "assets/vendor/jquery-ui/js/jquery-ui-1.10.4.custom.js" %}'></script>
		<script src='{% static "assets/vendor/jquery-ui-touch-punch/jquery.ui.touch-punch.js" %}'></script>
		<script src='{% static "assets/vendor/jquery-appear/jquery.appear.js" %}'></script>
		<script src='{% static "assets/vendor/bootstrap-multiselect/bootstrap-multiselect.js" %}'></script>
		<script src='{% static "assets/vendor/jquery-easypiechart/jquery.easypiechart.js" %}'></script>
		<script src='{% static "assets/vendor/flot/jquery.flot.js" %}'></script>
		<script src='{% static "assets/vendor/flot-tooltip/jquery.flot.tooltip.js" %}'></script>
		<script src='{% static "assets/vendor/flot/jquery.flot.pie.js" %}'></script>
		<script src='{% static "assets/vendor/flot/jquery.flot.categories.js" %}'></script>
		<script src='{% static "assets/vendor/flot/jquery.flot.resize.js" %}'></script>
		<script src='{% static "assets/vendor/jquery-sparkline/jquery.sparkline.js" %}'></script>
		<script src='{% static "assets/vendor/raphael/raphael.js" %}'></script>
		<script src='{% static "assets/vendor/morris/morris.js" %}'></script>
		<script src='{% static "assets/vendor/gauge/gauge.js" %}'></script>
		<script src='{% static "assets/vendor/snap-svg/snap.svg.js" %}'></script>
		<script src='{% static "assets/vendor/liquid-meter/liquid.meter.js" %}'></script>
		<script src='{% static "assets/vendor/jqvmap/jquery.vmap.js" %}'></script>
		<script src='{% static "assets/vendor/jqvmap/data/jquery.vmap.sampledata.js" %}'></script>
		{% comment %} <script src='{% static "assets/vendor/jqvmap/maps/jquery.vmap.world.js" %}'></script>
		<script src='{% static "assets/vendor/jqvmap/maps/continents/jquery.vmap.africa.js" %}'></script>
		<script src='{% static "assets/vendor/jqvmap/maps/continents/jquery.vmap.asia.js" %}'></script>
		<script src='{% static "assets/vendor/jqvmap/maps/continents/jquery.vmap.australia.js" %}'></script>
		<script src='{% static "assets/vendor/jqvmap/maps/continents/jquery.vmap.europe.js" %}'></script>
		<script src='{% static "assets/vendor/jqvmap/maps/continents/jquery.vmap.north-america.js" %}'></script>
		<script src='{% static "assets/vendor/jqvmap/maps/continents/jquery.vmap.south-america.js" %}'></script> {% endcomment %}
		
		<!-- Theme Base, Components and Settings -->
		<script src='{% static "assets/javascripts/theme.js" %}'></script>
		
		<!-- Theme Custom -->
		<script src='{% static "assets/javascripts/theme.custom.js" %}'></script>
		
		<!-- Theme Initialization Files -->
		<script src='{% static "assets/javascripts/theme.init.js" %}'></script>


		<!-- Examples -->
		<script src='{% static "assets/javascripts/dashboard/examples.dashboard.js" %}'></script>
	</body>
</html>